$primary-color: #0b0d17;
$secondary-color: #d0d6f9;
$white: #ffffff;
$background-grey: #979797;
$divider-grey: #383b4b;

$tablet: 768px;
$mobile: 500px;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin background-image($image) {
  background-image: url(#{$image}-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: $tablet) {
    background: url(#{$image}-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 375px) {
    background: url(#{$image}-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
