@import "../styles/variables";

body {
  @include background-image("../../../public/assets/crew/background-crew");
}

.crew {
  @include flex-center;
  flex-direction: column;
}

.crew-image {
  margin-top: 32px;
  max-height: 223px;
  width: auto;
  height: auto;
}

.crew-controls {
  @include flex-center;
  margin: 32px 0;
  gap: 16px;
}

.crew-button {
  width: 10px;
  height: 10px;
  border: 1px solid rgb(255, 255, 255, 0.1744);
  background-color: rgb(255, 255, 255, 0.1744);
  border-radius: 100%;
  :hover {
    background-color: white;
  }
}
.active {
  background-color: $white;
}

.crew-image-container {
  @include flex-center;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid $divider-grey;
}

.crew-view {
  @include flex-center;
  text-transform: uppercase;
  flex-direction: column;
  .crew-role {
    color: rgb(255, 255, 255, 0.49);
  }
  .crew-name {
    font-size: 24px;
  }
  .crew-description {
    margin-top: 16px;
    font-size: 16px;
    letter-spacing: 0.25px;
    text-transform: none;
    width: 70%;
    text-align: center;
    color: $secondary-color;
  }
}

@media (min-width: $mobile) and (min-height: 800px) {
  body {
    padding: 0;
    height: 100%;
  }
  .crew {
    flex-direction: column-reverse;
    margin-top: 4rem;
  }
  .crew-view {
    .crew-role {
      font-size: 24px;
    }
    .crew-name {
      font-size: 40px;
    }
  }
  .crew-image-container {
    margin-bottom: 0;
    bottom: 0;
    z-index: 0;
  }
  .crew-image {
    max-height: 520px;
  }
}

@media (min-width: 1000px) {
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  .crew {
    display: flex;
    margin-left: 20vw;
    flex-direction: row-reverse;
    align-items: center;
  }
  .crew-content {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    margin: 5rem 0;
    height: 100%;
  }
  .crew-image-container {
    max-width: 40%;
    height: 100%;
    border: unset;
  }
  .crew-image {
    position: absolute;
    max-height: unset;
    height: 60vh;
    bottom: 0;
  }
  .crew-view {
    align-items: flex-start;
    .crew-role {
      font-size: 32px;
    }
    .crew-name {
      font-size: 56px;
    }
    .crew-description {
      text-align: unset;
      width: 450px;
    }
  }
  .crew-controls {
    justify-content: left;
    .crew-button {
      width: 15px;
      height: 15px;
    }
  }
}
