@import "../styles/variables";

body {
  @include background-image(
    "../../../public/assets/destination/background-destination"
  );
}

.destination-image {
  width: 170px;
  height: 170px;
  margin: 32px 0 26px 0;
}

.destination {
  @include flex-center;
  flex-direction: column;
}

.destination-buttons {
  @include flex-center;
  gap: 16px;
  font-size: 14px;
  .destination-button {
    letter-spacing: 2.36px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid rgb(255, 255, 255, 0.6);
      transition: border-bottom 0.3s ease-in-out;
    }
  }
}

.destination-button-active {
  border-bottom: 2px solid $white !important;
  transition: border-bottom 0.8s ease-in-out;
}

.destination-view {
  @include flex-center;
  flex-direction: column;
  margin-top: 16px;
  h1 {
    font-size: 56px;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
  }
  .destination-description {
    word-spacing: 2px;
    line-height: 25px;
    font-size: 15px;
    width: 87%;
    color: $secondary-color;
    text-align: center;
  }
}

.destination-divider {
  margin: 32px 0;
  width: 80%;
  height: 1px;
  z-index: 1;
  background-color: $divider-grey;
}

.destination-feature {
  @include flex-center;
  flex-direction: column;
  text-transform: uppercase;
  gap: 12px;
  margin-bottom: 32px;
  span {
    letter-spacing: 2.36px;
    font-size: 14px;
    color: $secondary-color;
  }
  p {
    font-size: 28px;
    white-space: nowrap;
    color: $white;
  }
}

@media (min-width: $mobile) {
  .destination-image {
    width: 250px;
    height: 250px;
    margin-bottom: 2rem;
  }
  .destination-features {
    @include flex-center;
    gap: 4rem;
    flex-direction: row;
  }
}

@media (min-width: 1070px) {
  body {
    overflow: hidden;
  }
  .destination {
    height: 70vh;
    margin: 0 6rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .destination-content-container {
    flex-direction: column;
    max-width: 40%;
    margin-left: 4rem;
  }
  .destination-image {
    display: inline-block;
    width: 445px;
    height: 445px;
    margin: 0;
  }
  .destination-buttons {
    justify-content: flex-start;
  }
  .destination-view {
    align-items: flex-start;
    text-align: justify;
    .destination-description {
      text-align: justify;
      height: 70px;
      max-width: 400px;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 100px;
    }
    .destination-feature {
      align-items: flex-start;
    }
  }
}
