@import "../styles/variables";

body {
  @include background-image(
    "../../../public/assets/destination/background-destination"
  );
}

.destination {
  @include flex-center;
  flex-direction: column;
}

.destination-buttons {
  @include flex-center;
  gap: 16px;
  font-size: 14px;
  button {
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $white;
      transition: border-bottom 0.1s ease-in-out;
    }
  }
}

.destination-view {
  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}
