@import "../styles/variables";

body {
  @include background-image(
    "../../../public/assets/technology/background-technology"
  );
}

.technology-image-portrait {
  display: none;
}

.navbar {
  .links-container {
    background-color: rgb(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
  }
}

.terminology-header {
  text-transform: uppercase;
  color: $secondary-color;
}

.technology-buttons {
  @include flex-center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  .technology-button {
    @include flex-center;
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 100%;
    padding: 1rem;
  }
}

.active {
  background-color: $white;
  color: black;
}

.technology-image-landscape {
  margin: 2rem 0;
  width: 100%;
  height: 170px;
}

.technology-view {
  @include flex-center;
  flex-direction: column;
  h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0.5rem 0 1rem 0;
  }
  .technology-description {
    width: 88%;
    text-align: center;
    font-size: 15px;
    color: $secondary-color;
    line-height: 25px;
  }
}

@media screen and (min-width: $mobile) {
  .technology-buttons {
    .technology-button {
      width: 60px;
      height: 60px;
    }
  }
  .technology-image-landscape {
    height: 310px;
  }
  .technology-view {
    h1 {
      font-size: 40px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .technology {
    display: flex;
    width: 70%;
    height: 80%;
    margin: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .technology-view {
    align-items: flex-start;
    text-align: left;
    h1 {
      font-size: 56px;
    }
    .technology-description {
      text-align: left;
      max-width: 450px;
      font-size: 18px;
    }
  }
  .terminology-header {
    font-size: 20px;
  }
  .technology-content {
    display: flex;
    gap: 4rem;
  }
  .technology-buttons {
    flex-direction: column;
    gap: 32px;
    .technology-button {
      width: 80px;
      height: 80px;
      font-size: 32px;
    }
  }
  .technology-image-landscape {
    display: none;
  }
  .technology-image-container {
    width: 40%;
  }
  .technology-image-portrait {
    display: block;
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    height: 35vw;
    width: auto;
  }
}
